$blue: #BC8F8F; //primary
$gray-100: #F0FFF0; //secondary
$gray-800: #2F4F4F;
$headings-font-family: 'Amatic SC', cursive;

// Custom.scss
// Option A: Include all of Bootstrap

@import "../bootstrap-4.5.3/scss/bootstrap.scss";
